<phpunit>
	<testsuite name="Grouport test suite">
		<directory>./</directory>
	</testsuite>

	<filter>
		<whitelist>
			<directory suffix=".php">../library/</directory>
			<directory suffix=".php">../application/</directory>
			<exclude>
				<directory suffix=".phtml">../application/</directory>
			</exclude>
		</whitelist>
	</filter>

	<logging>
	</logging>
</phpunit>
